{# Group Social Networks -#}
{% if let Some(website_url) = &group.website_url -%}
  {{ social::social_link(url = website_url, icon_name = "website", platform_name = "Website") -}}
{% endif -%}
{% if let Some(twitter_url) = &group.twitter_url -%}
  {{ social::social_link(url = twitter_url, icon_name = "twitter", platform_name = "Twitter") -}}
{% endif -%}
{% if let Some(bluesky_url) = &group.bluesky_url -%}
  {{ social::social_link(url = bluesky_url, icon_name = "bluesky", platform_name = "Bluesky") -}}
{% endif -%}
{% if let Some(facebook_url) = &group.facebook_url -%}
  {{ social::social_link(url = facebook_url, icon_name = "facebook", platform_name = "Facebook") -}}
{% endif -%}
{% if let Some(linkedin_url) = &group.linkedin_url -%}
  {{ social::social_link(url = linkedin_url, icon_name = "linkedin", platform_name = "LinkedIn") -}}
{% endif -%}
{% if let Some(github_url) = &group.github_url -%}
  {{ social::social_link(url = github_url, icon_name = "github", platform_name = "GitHub") -}}
{% endif -%}
{% if let Some(instagram_url) = &group.instagram_url -%}
  {{ social::social_link(url = instagram_url, icon_name = "instagram", platform_name = "Instagram") -}}
{% endif -%}
{% if let Some(youtube_url) = &group.youtube_url -%}
  {{ social::social_link(url = youtube_url, icon_name = "youtube", platform_name = "YouTube") -}}
{% endif -%}
{% if let Some(slack_url) = &group.slack_url -%}
  {{ social::social_link(url = slack_url, icon_name = "slack", platform_name = "Slack") -}}
{% endif -%}
{% if let Some(substack_url) = &group.substack_url -%}
  {{ social::social_link(url = substack_url, icon_name = "link", platform_name = "Substack") -}}
{% endif -%}
{% if let Some(wechat_url) = &group.wechat_url -%}
  {{ social::social_link(url = wechat_url, icon_name = "wechat", platform_name = "WeChat") -}}
{% endif -%}
{% if let Some(flickr_url) = &group.flickr_url -%}
  {{ social::social_link(url = flickr_url, icon_name = "flickr", platform_name = "Flickr") -}}
{% endif -%}
{% if let Some(google_photos_url) = &group.google_photos_url -%}
  {{ social::social_link(url = google_photos_url, icon_name = "link", platform_name = "Google Photos") -}}
{% endif -%}
{% if let Some(extra_links) = &group.extra_links -%}
  {% for (name, url) in extra_links -%}
    <a href="{{ url }}"
       target="_blank"
       rel="noopener noreferrer"
       class="group btn-secondary-anchor p-1.5 size-[40px] sm:size-[30px] flex items-center justify-center"
       title="{{ name }}">
      <div class="svg-icon size-4 bg-stone-700 group-hover:bg-white transition-colors icon-link"></div>
    </a>
  {% endfor -%}
{% endif -%}
{# End group social networks -#}
