{% extends "dashboard/dashboard_base.html" -%}
{% import "macros/ui.html" as ui -%}
{% import "macros/feedback.html" as feedback -%}
{% import "macros/dashboard.html" as dashboard -%}

{% block scripts -%}
  <script type="module" src="/static/js/dashboard/form-page-elements.js"></script>
  <script type="module" src="/static/js/dashboard/confirm-actions.js"></script>
  <script type="module" src="/static/js/dashboard/alliance/groups-list.js"></script>
  <script type="module" src="/static/js/dashboard/alliance/settings-form.js"></script>
  <script type="module" src="/static/js/dashboard/alliance/team-add-member.js"></script>
  <script type="module"
          src="/static/js/dashboard/alliance/alliance-selector.js"></script>
  <script type="module" src="/static/js/dashboard/location-clear.js"></script>
  <script type="module" src="/static/js/dashboard/team-role-form.js"></script>
{% endblock scripts -%}

{% block menu -%}
  <div class="flex justify-between items-center mt-3 mb-6 px-3 lg:px-5">
    <div class="font-semibold text-stone-900 text-sm lg:text-lg">Alliance Dashboard</div>
    <div id="dashboard-spinner" class="group hx-spinner -mt-0.5 relative">
      {{ ui::spinner(size = "size-5") -}}
    </div>
  </div>

  <div class="max-h-full w-full flex flex-col flex-1 space-y-5 mb-5 overflow-y-auto px-3 lg:px-5">
    {# Alliance selector -#}
    <div>
      {{ dashboard::menu_title(text = "Alliance", extra_styles = "py-1.5") -}}
      <div class="mt-2 mb-6">
        <alliance-selector alliances="{{ alliances|json }}" selected-alliance-id="{{ selected_alliance_id }}" select-endpoint="/dashboard/alliance">
        {{ dashboard::selector_loading_button() -}}
        </alliance-selector>
      </div>
      <div class="mt-3 grid gap-y-0.5">
        {% if user.platform_admin -%}
          {{ dashboard::menu_item(name = "Create Alliance", icon = "groups", is_active = content.is_create_alliance() , href = "/dashboard/alliance?tab=create-alliance") -}}
        {% endif -%}
        {{ dashboard::menu_item(name = "Settings", icon = "gears", is_active = content.is_settings() , href = "/dashboard/alliance?tab=settings") -}}
        {{ dashboard::menu_item(name = "Email Templates", icon = "mail", is_active = content.is_email_templates() , href = "/dashboard/alliance?tab=email-templates") -}}
        {{ dashboard::menu_item(name = "Team", icon = "team", is_active = content.is_team() , href = "/dashboard/alliance?tab=team") -}}
        {{ dashboard::menu_item(name = "Regions", icon = "map", is_active = content.is_regions() , href = "/dashboard/alliance?tab=regions") -}}
        {{ dashboard::menu_item(name = "Group Categories", icon = "list", is_active = content.is_group_categories() , href = "/dashboard/alliance?tab=group-categories") -}}
        {{ dashboard::menu_item(name = "Event Categories", icon = "event", is_active = content.is_event_categories() , href = "/dashboard/alliance?tab=event-categories") -}}
      </div>
    </div>
    {# End alliance selector -#}

    {# Analytics -#}
    <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
      {{ dashboard::menu_title(text = "Analytics", extra_styles = "py-1.5") -}}
      {{ dashboard::menu_item(name = "Analytics",
            icon = "charts",
            is_active = content.is_analytics() ,
      href = "/dashboard/alliance?tab=analytics"
      ) -}}
    </div>
    {# End analytics -#}

    {# Groups -#}
    <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
      {{ dashboard::menu_title(text = "Groups", extra_styles = "py-1.5") -}}
      {{ dashboard::menu_item(name = "Groups", icon = "groups", is_active = content.is_groups() , href = "/dashboard/alliance?tab=groups") -}}
      {{ dashboard::menu_item(name = "Landscape", icon = "map", is_active = content.is_landscape() , href = "/dashboard/alliance?tab=landscape") -}}
    </div>
    {# End groups -#}

    {# Audit -#}
    <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
      {{ dashboard::menu_title(text = "AUDIT", extra_styles = "py-1.5") -}}
      {{ dashboard::menu_item(name = "Logs", icon = "logs", is_active = content.is_logs() , href = "/dashboard/alliance?tab=logs") -}}
    </div>
    {# End audit -#}
  </div>
{% endblock menu -%}

{% block dashboard_main -%}
  <div id="dashboard-content"
       hx-get="/dashboard/alliance/{%- if content.is_team() -%}team{%- elif content.is_settings() -%}settings/update{%- elif content.is_email_templates() -%}email-templates{%- elif content.is_regions() -%}regions{%- elif content.is_logs() -%}logs{%- elif content.is_group_categories() -%}group-categories{%- elif content.is_event_categories() -%}event-categories{%- elif content.is_analytics() -%}analytics{%- elif content.is_create_alliance() -%}create{%- elif content.is_landscape() -%}landscape{%- else -%}groups{%- endif -%}"
       hx-trigger="refresh-alliance-dashboard-table"
       hx-swap="innerHTML show:window:top"
       hx-indicator="#dashboard-spinner"
       class="p-4 sm:p-6 lg:p-12">
    {# Content -#}
    {{ content|safe }}
    {# End Content -#}
  </div>
  {# Messages -#}
  {% if !messages.is_empty() -%}
    {{ feedback::alerts(messages) -}}
  {% endif -%}
  {# End messages -#}
{% endblock dashboard_main -%}
