{% extends "common/card_small_base.html" -%}
{% import "macros/ui.html" as ui -%}
{% import "macros/cards.html" as cards -%}

{# Site Explore Groups Group Card -#}
{% block href -%}
  {{- "/" -}}{{- group.alliance_name -}}/group/{{- group.public_slug() -}}
{%- endblock href %}

{% block anchor_attributes -%}
  hx-boost="true"
  hx-target="body"
{% endblock anchor_attributes %}

{% block logo -%}
  {{ ui::logo(logo_url = group.logo_url, classes = "h-[60px] w-[60px] min-w-[60px] md:h-[88px] md:w-[88px] md:min-w-[88px]", size = 88) -}}
{% endblock logo %}

{% block content_stack_classes -%}
  md:min-h-[88px]
{% endblock content_stack_classes %}

{% block title_classes -%}
  md:!mt-2 md:!line-clamp-1 md:text-[1.05rem]/5
{% endblock title_classes %}

{% block preheader -%}
  <span>
    <span class="hidden text-stone-700 sm:inline">{{ group.alliance_display_name }}</span>
    <span class="px-1 hidden sm:inline">·</span>
    {% if let Some(region) = &group.region -%}
      {{- region.name -}}
    {% else -%}
      {{- group.category.name -}}
    {% endif -%}
  </span>
{%- endblock preheader %}

{% block title -%}
  {{- group.name|demoji -}}
{%- endblock title %}

{% block inline_details -%}
  {% if let Some(description_short) = &group.description_short -%}
    <div class="mt-2 hidden md:block">
      <p class="text-[0.8rem]/[1.2rem] text-stone-500 line-clamp-2">{{ description_short|demoji }}</p>
    </div>
  {% endif -%}
{% endblock inline_details %}

{% block details -%}
  {% if let Some(description_short) = &group.description_short -%}
    <div class="px-3.5 pt-3 md:hidden">
      <p class="text-[0.8rem]/[1.2rem] text-stone-500 line-clamp-2">{{ description_short|demoji }}</p>
    </div>
  {% endif -%}
{% endblock details %}

{% block footer -%}
  {{- cards::group_footer(group = group, location_max_len = 40, left_width_classes = "w-[60px] min-w-[60px] md:w-[88px] md:min-w-[88px]") -}}
{%- endblock footer %}
{# End site explore groups group card -#}
