{% extends "site/explore/entity_section_base.html" -%}
{% import "macros/search.html" as search -%}

{# Filters -#}
{% block filters_desktop -%}
  {% include "site/explore/groups/filters.html" -%}
{% endblock filters_desktop -%}

{% block filters_mobile -%}
  {% include "site/explore/groups/filters.html" -%}
{% endblock filters_mobile -%}
{# End filters -#}

{# Sort options -#}
{% block sort_options -%}
  {% let current_sort_by = filters.sort_by.clone().unwrap_or("name".to_string()) -%}
  <select id="sort_selector"
          name="sort_by"
          class="block w-24 py-1 px-3 text-[0.775rem] leading-none h-[32px] text-stone-900 bg-white border border-stone-200 rounded-full shadow-sm focus:outline-none focus:ring-0 focus:border-[#d8c7b2] hover:border-[#d8c7b2] transition-colors">
    <option value="date" {% if current_sort_by == "date" %}selected{% endif %}>Date</option>
    {% if filters.longitude.is_some() && filters.latitude.is_some() -%}
      <option value="distance"
              {% if current_sort_by == "distance" %}selected{% endif %}>Distance</option>
    {% endif -%}
    <option value="name" {% if current_sort_by == "name" %}selected{% endif %}>Name</option>
  </select>
{% endblock sort_options -%}
{# End sort options -#}

{# Current page status -#}
{% block current_page -%}
  {% if results_section.groups.len() > 0 -%}
    {{ search::current_page(total = results_section.total, items_number = results_section.groups.len() , offset_value = filters.offset) -}}
  {% endif -%}
{% endblock current_page -%}
{# End current page status -#}

{# Search bar -#}
{% block search_bar -%}
  {{ search::search_bar(placeholder = "Search groups", input_styles = "w-full md:w-3/4", container_styles = "justify-center", with_help = true, value = filters.ts_query) -}}
{% endblock search_bar -%}
{# End search bar -#}

{# Main content -#}
{% block content -%}
  {{ results_section|safe }}
{% endblock content -%}
{# End main content -#}
