<div class="flex justify-between items-center border-solid border-0 border-b border-stone-100 p-5">
  <div class="font-black text-sm text-stone-950">Filters</div>

  <div class="flex items-center">
    {# Filters view mode -#}
    {# Loading spinner -#}
    <div id="loading-filters" class="me-5 w-6 hx-spinner">{{ ui::spinner(size = "size-5") -}}</div>
    {# End loading spinner -#}

    <button id="reset-filters"
            class="hidden lg:flex reset-filters items-center rounded-full border border-stone-200 bg-white px-3 py-1 text-xs font-bold text-stone-700 shadow-sm transition-colors hover:border-[#d8c7b2] hover:bg-[#f5efe7] hover:text-stone-950 focus:ring-4 focus:ring-[#eadcc9]">
      Reset
    </button>
  </div>
  {# End filters view mode -#}
</div>
