{# Entity selector -#}
{% macro entity_radio(selected, ts_query = None) -%}
  <div class="px-6 py-7 border-b border-stone-100">
    <ul class="flex items-center w-full">
      {% match selected -%}
      {% when Entity::Groups -%}
      <li class="w-full">
        {# Events button -#}
        <button id="events-button"
          hx-get='/explore/events-section'
          hx-trigger="click"
          hx-target="#entity-section"
          hx-indicator="#loading-filters, #loading-filters-mobile"
          {# djlint:off #}
                {# TODO: Hardcoded alliance until we add more #}
                hx-vals='{"alliance[0]":"goup"{% if let Some(query) = &ts_query %},"ts_query":{{ query|json|safe }}{% endif %}}'
          {# djlint:on #}
          class="inline-flex items-center justify-between w-full p-3 bg-white border border-stone-200 rounded-l-2xl cursor-pointer text-stone-500 select-none hover:bg-stone-50 transition-colors">
          {{ entity_content(kind = "events", title = "Events", icon_styles = Some("bg-stone-500") ) -}}
        </button>
        {# End events button -#}
      </li>
      <li class="w-full">
        {# Selected entity: groups -#}
        <div class="inline-flex items-center justify-between w-full p-3 bg-[#f5efe7] border rounded-r-2xl text-stone-900 border-[#eadcc9] shadow-sm">
          {{ entity_content(kind = "groups", title = "Groups", styles = Some("select-none font-bold") , icon_styles = Some("bg-stone-700")) -}}
        </div>
        {# End selected entity: groups -#}
      </li>

      {% when Entity::Events -%}
      <li class="w-full">
        {# Selected entity: events -#}
        <div class="inline-flex items-center justify-between w-full p-3 bg-[#f5efe7] border rounded-l-2xl text-stone-900 border-[#eadcc9] shadow-sm">
          {{ entity_content(kind = "events", title = "Events", styles = Some("select-none font-bold") , icon_styles = Some("bg-stone-700")) -}}
        </div>
        {# End selected entity: events -#}
      </li>
      <li class="w-full">
        {# Groups button -#}
        <button id="groups-button"
          hx-get='/explore/groups-section'
          hx-trigger="click"
          hx-target="#entity-section"
          hx-indicator="#loading-filters, #loading-filters-mobile"
          {# djlint:off #}
          {# TODO: Hardcoded alliance until we add more #}
          hx-vals='{"alliance[0]":"goup"{% if let Some(query) = &ts_query %},"ts_query":{{ query|json|safe }}{% endif %}}'
          {# djlint:on #}
          class="inline-flex items-center justify-between w-full p-3 bg-white border border-stone-200 rounded-r-2xl cursor-pointer text-stone-500 select-none hover:bg-stone-50 transition-colors">
          {{ entity_content(kind = "groups", title = "Groups", icon_styles = Some("bg-stone-500") ) -}}
        </button>
        {# End groups button -#}
      </li>
    {% endmatch -%}
  </ul>
</div>
{% endmacro entity_radio -%}
{# End entity selector -#}

{# Entity content -#}
{% macro entity_content(kind, title, styles = None, icon_styles = None) -%}
  {% let styles_ = styles.unwrap_or("") -%}
  {% let icon_styles_ = icon_styles.unwrap_or("") -%}

  <div class="flex w-full flex-col items-center {{ styles_ }}">
    {# Icon -#}
    <div class="svg-icon h-4 w-4 icon-{{ kind }} {{ icon_styles_ }}"></div>
    {# End icon -#}

    {# Title -#}
    <div class="text-[0.775rem] mt-1.5">{{ title }}</div>
    {# End title -#}
  </div>
{% endmacro entity_content -%}
{# End entity content -#}

{# Input date -#}
{% macro date_input(name, label, value) -%}
  <div class="w-full">
    <div class="text-xs/6 text-stone-500/75 capitalize mb-1">{{ label }}:</div>
    <div class="relative w-[75%]">
      <input name="{{ name }}"
             validate="false"
             value="{%- if let Some(date) = &value -%} {{ date }} {%- endif -%}"
             type="date"
             class="inline-flex bg-white border border-stone-200 text-[0.775rem] leading-4 h-[32px] text-center rounded-xl focus:ring-0 focus:border-[#d8c7b2] w-full px-2 py-1.5 hover:bg-stone-50 transition-colors"
             placeholder="Date {{ label }}">
    </div>
  </div>
{% endmacro date_input -%}
{# End input date -#}
