{# Alert -#}
{% macro alert(title, content) -%}
  <div class="p-10 md:p-14">
    <div class="border border-stone-200 p-10 text-sm text-stone-700 rounded-[1.75rem] bg-stone-50 text-center"
         role="alert">
      <div class="text-xl mb-6 font-black tracking-tight text-stone-950">{{ title }}</div>
      {{ content }}
    </div>
  </div>
{% endmacro alert -%}
{# End alert -#}

{# Placeholder -#}
{% macro placeholder(title, content) -%}
  <div class="border-2 border-dashed border-stone-300 p-10 text-sm text-stone-800 rounded-[1.75rem] bg-stone-50 text-center"
       role="alert">
    <div class="text-xl mb-6 font-black tracking-tight text-stone-950">{{ title }}</div>
    <p class="text-stone-600">{{ content }}</p>
  </div>
{% endmacro placeholder -%}
{# End placeholder -#}

{# Alerts #}
{% macro alerts(messages) -%}
  {% for message in messages -%}
    {% match message.level -%}
    {% when Level::Success -%}
    <span data-page-alert
          data-alert-level="success"
          data-alert-message="{{ message }}"
          hidden></span>
    {% when Level::Error -%}
    <span data-page-alert
          data-alert-level="error"
          data-alert-message="{{ message }}"
          hidden></span>
    {% when _ -%}
    {# Do nothing #}
  {% endmatch -%}
{% endfor -%}
{% endmacro alerts -%}
{# End alerts #}
