{# Link -#}
{% macro link(content, href, current_path, path = "", extra_styles = None, hx_boost = "true", hx_target = "body", target = "") -%}
  {% let extra_styles_ = extra_styles.unwrap_or("") -%}

  <a href="{{ href }}"
     hx-boost="{{ hx_boost }}"
     hx-target="{{ hx_target }}"
     {% if !target.is_empty() -%}
       target="{{ target }}" rel="noopener noreferrer"
     {% endif -%}
     data-header-nav-link
     class="header-nav-link mx-3 pb-1 border-0 border-stone-950 text-base font-bold tracking-widest text-stone-700 uppercase border-b-2 transition-colors hover:text-stone-950
            {% if current_path == href || current_path == path -%}
              border-stone-950 text-stone-950{%- else -%}border-transparent hover:border-stone-300{%- endif -%} {{ extra_styles_ }}">{{ content }}</a>
{% endmacro link -%}
{# End link -#}

{# Button -#}
{% macro button(id, content, extra_styles = None) -%}
  {% let extra_styles_ = extra_styles.unwrap_or("") -%}

  <button id="{{ id }}"
          class="mx-3 pb-1 border-0 border-stone-950 text-base font-bold tracking-widest text-stone-700 uppercase border-b-2 border-transparent hover:border-stone-300 hover:text-stone-950 transition-colors {{ extra_styles_ }}">
    {{ content }}
  </button>
{% endmacro button -%}
{# End button -#}
