{% import "macros/ui.html" as ui -%}

{% macro navigation_links(links, hx_target, hx_swap = "", hx_indicator = "", spinner_id_prefix = "pagination") -%}
  {% let first_spinner_id = spinner_id_prefix.to_string() + "first-spinner" -%}
  {% let prev_spinner_id = spinner_id_prefix.to_string() + "prev-spinner" -%}
  {% let next_spinner_id = spinner_id_prefix.to_string() + "next-spinner" -%}
  {% let last_spinner_id = spinner_id_prefix.to_string() + "last-spinner" -%}
  {# Pagination -#}
  <div class="pagination flex items-end justify-center py-8">
    <div class="inline-flex" role="group">
      {# First button -#}
      {% if let Some(first) = links.first -%}
        <a href="{{ first.url }}"
           hx-get="{{ first.hx_url }}"
           hx-target="{{ hx_target }}"
           {% if hx_swap != "" %}hx-swap="{{ hx_swap }}"{% endif %}
           hx-indicator="#{{ first_spinner_id }}
                         {% if hx_indicator != "" %}, {{ hx_indicator }}{% endif %}"
           class="group relative overflow-hidden cursor-pointer inline-flex items-center pr-4 pl-3 py-2 text-sm font-medium text-primary-500 bg-transparent border border-primary-500 rounded-s-full hover:bg-primary-500 hover:text-white transition-colors focus:z-10 focus:ring-2 focus:ring-primary-300 focus:bg-primary-500 focus:text-white">
          <span class="inline-flex items-center group-[.htmx-request]:invisible">
            <div class="svg-icon me-2 h-5 w-5 bg-primary-500 group-hover:bg-white transition-colors icon-arrow-left-double">
            </div>
            First
          </span>
          {{ ui::btn_spinner(id = first_spinner_id, size = "size-4") -}}
        </a>
      {% else -%}
        <button type="button"
                disabled
                class="inline-flex items-center pr-4 pl-3 py-2 text-sm font-medium text-stone-400 bg-stone-100 border border-stone-200 rounded-s-full">
          <div class="svg-icon me-2 h-5 w-5 bg-stone-300 icon-arrow-left-double"></div>
          First
        </button>
      {% endif -%}
      {# End first button -#}

      {# Prev button -#}
      {% if let Some(prev) = links.prev -%}
        <a href="{{ prev.url }}"
           hx-get="{{ prev.hx_url }}"
           hx-target="{{ hx_target }}"
           {% if hx_swap != "" %}hx-swap="{{ hx_swap }}"{% endif %}
           hx-indicator="#{{ prev_spinner_id }}
                         {% if hx_indicator != "" %}, {{ hx_indicator }}{% endif %}"
           class="group relative overflow-hidden cursor-pointer inline-flex items-center pr-4 pl-[0.6rem] py-2 text-sm font-medium text-primary-500 bg-transparent border-t border-b border-e border-primary-500 hover:bg-primary-500 hover:text-white transition-colors focus:z-10 focus:ring-2 focus:ring-primary-300 focus:bg-primary-500 focus:text-white">
          <span class="inline-flex items-center group-[.htmx-request]:invisible">
            <div class="svg-icon me-2 h-5 w-5 bg-primary-500 group-hover:bg-white transition-colors icon-arrow-left">
            </div>
            Prev
          </span>
          {{ ui::btn_spinner(id = prev_spinner_id, size = "size-4") -}}
        </a>
      {% else -%}
        <button type="button"
                disabled
                class="inline-flex items-center pr-4 pl-[0.6rem] py-2 text-sm font-medium text-stone-400 bg-stone-100 border-t border-b border-e border-stone-200">
          <div class="svg-icon me-2 h-5 w-5 bg-stone-300 icon-arrow-left"></div>
          Prev
        </button>
      {% endif -%}
      {# End prev button -#}

      {# Next button -#}
      {% if let Some(next) = links.next -%}
        <a href="{{ next.url }}"
           hx-get="{{ next.hx_url }}"
           hx-target="{{ hx_target }}"
           {% if hx_swap != "" %}hx-swap="{{ hx_swap }}"{% endif %}
           hx-indicator="#{{ next_spinner_id }}
                         {% if hx_indicator != "" %}, {{ hx_indicator }}{% endif %}"
           class="group relative overflow-hidden cursor-pointer inline-flex items-center pl-4 pr-[0.6rem] py-2 text-sm font-medium text-primary-500 bg-transparent border-t border-b border-s -ml-[1px] border-primary-500 hover:bg-primary-500 hover:text-white transition-colors focus:z-10 focus:ring-2 focus:ring-primary-300 focus:bg-primary-500 focus:text-white">
          <span class="inline-flex items-center group-[.htmx-request]:invisible">
            Next
            <div class="svg-icon ms-2 h-5 w-5 bg-primary-500 group-hover:bg-white transition-colors icon-arrow-right">
            </div>
          </span>
          {{ ui::btn_spinner(id = next_spinner_id, size = "size-4") -}}
        </a>
      {% else -%}
        <button type="button"
                disabled
                class="inline-flex items-center pl-4 pr-[0.6rem] py-2 text-sm font-medium text-stone-400 bg-stone-100 border-t border-b border-stone-200">
          Next
          <div class="svg-icon ms-2 h-5 w-5 bg-stone-300 icon-arrow-right"></div>
        </button>
      {% endif -%}
      {# End next button -#}

      {# Last button -#}
      {% if let Some(last) = links.last -%}
        <a href="{{ last.url }}"
           hx-get="{{ last.hx_url }}"
           hx-target="{{ hx_target }}"
           {% if hx_swap != "" %}hx-swap="{{ hx_swap }}"{% endif %}
           hx-indicator="#{{ last_spinner_id }}
                         {% if hx_indicator != "" %}, {{ hx_indicator }}{% endif %}"
           class="group relative overflow-hidden cursor-pointer inline-flex items-center pl-4 pr-3 py-2 text-sm font-medium text-primary-500 bg-transparent border border-primary-500 rounded-e-full hover:bg-primary-500 hover:text-white transition-colors focus:z-10 focus:ring-2 focus:ring-primary-300 focus:bg-primary-500 focus:text-white">
          <span class="inline-flex items-center group-[.htmx-request]:invisible">
            Last
            <div class="svg-icon ms-2 h-5 w-5 bg-primary-500 group-hover:bg-white transition-colors icon-arrow-right-double">
            </div>
          </span>
          {{ ui::btn_spinner(id = last_spinner_id, size = "size-4") -}}
        </a>
      {% else -%}
        <button type="button"
                disabled
                class="inline-flex items-center pl-4 pr-3 py-2 text-sm font-medium text-stone-400 bg-stone-100 border border-stone-200 rounded-e-full">
          Last
          <div class="svg-icon ms-2 h-5 w-5 bg-stone-300 icon-arrow-right-double"></div>
        </button>
      {% endif -%}
      {# End last button -#}
    </div>
  </div>
  {# End pagination -#}

{%- endmacro navigation_links %}

{% macro range_display(offset, count, total, label = "result", plural_label = "") -%}
  {% if count > 0 -%}
    {% let start = offset + 1 -%}
    {% let end = offset + count -%}
    {{ start }} - {{ end }} of <span class="font-semibold">{{ total }}</span>
    {% if count == 1 -%}
      {{ label }}
    {% else if plural_label != "" -%}
      {{ plural_label }}
    {% else -%}
      {{ label }}s
    {%- endif -%}
  {% else -%}
    0
    {% if plural_label != "" -%}
      {{ plural_label }}
    {% else -%}
      {{ label }}s
    {%- endif -%}
  {% endif -%}
{%- endmacro range_display %}
