{% extends "common/card_small_base.html" -%}
{% import "macros/ui.html" as ui -%}
{% import "macros/badges.html" as badges -%}
{% import "macros/cards.html" as cards -%}

{# Site Explore Events Event Card -#}
{% block href -%}
  {{- "/" -}}{{- event.alliance_name -}}/group/{{- event.public_group_slug() -}}/event/{{- event.slug -}}
{%- endblock href %}

{% block anchor_attributes -%}
  hx-boost="true"
  hx-target="body"
{% endblock anchor_attributes %}

{% block logo -%}
  {{ ui::logo(logo_url = event.logo_url, classes = "h-[60px] w-[60px] min-w-[60px] md:h-[88px] md:w-[88px] md:min-w-[88px]", size = 88) -}}
{% endblock logo %}

{% block corner_badge -%}
  {{ badges::sold_out_corner_ribbon(remaining_capacity = event.remaining_capacity, capacity = event.capacity) -}}
{% endblock corner_badge %}

{% block top_row_classes -%}
  pr-14 md:pr-20
{% endblock top_row_classes %}

{% block content_stack_classes -%}
  md:min-h-[88px]
{% endblock content_stack_classes %}

{% block title_classes -%}
  md:!mt-2 md:!line-clamp-1 md:text-[1.05rem]/5
{% endblock title_classes %}

{% block preheader -%}
  <span>
    <span class="hidden text-stone-700 sm:inline">{{ event.alliance_display_name }}</span>
    <span class="px-1 hidden sm:inline">·</span>
    <span>{{- event.group_name -}}</span>
    <span class="px-1 hidden sm:inline">·</span>
    <span class="hidden sm:inline">{{ event.group_category_name }}</span>
  </span>
{%- endblock preheader %}

{% block title -%}
  {{- event.name|demoji -}}
{%- endblock title %}

{% block inline_details -%}
  {% if let Some(description_short) = &event.description_short -%}
    <div class="mt-2 hidden md:block">
      <p class="text-[0.8rem]/[1.2rem] text-stone-500 line-clamp-2">{{ description_short|demoji }}</p>
    </div>
  {% endif -%}
{% endblock inline_details %}

{% block details -%}
  {% if let Some(description_short) = &event.description_short -%}
    <div class="px-3.5 pt-3 md:hidden">
      <p class="text-[0.8rem]/[1.2rem] text-stone-500 line-clamp-2">{{ description_short|demoji }}</p>
    </div>
  {% endif -%}
{% endblock details %}

{% block footer -%}
  {{- cards::event_footer(event = event, left_width_classes = "w-[60px] min-w-[60px] md:w-[88px] md:min-w-[88px]") -}}
{%- endblock footer %}
{# End site explore events event card -#}
